alive-progress==3.3.0
cron-descriptor==2.0.6
cryptography==46.0.3
dlt==1.20.0
duckdb==1.4.3
ibis-framework==11.0.0
loguru==0.7.3
marimo==0.18.4
mcp==1.25.0
pathspec==0.12.1
pipdeptree==2.9.6
prek==0.2.25
pyarrow==22.0.0
pytest-cov==7.0.0
ruff==0.14.10
ty==0.0.7